.partners-view {
    width: 100%;

    >h2 {
        display        : flex;
        justify-content: center;
        font-family    : trajan-pro-3, serif;
        font-weight    : 700;
        font-size      : 40px;
        color          : #b19c76;
        margin-top     : 64px;
    }

    >section {
        margin-top: 4rem;

        >a {
            display        : flex;
            justify-content: center;
            margin-top     : 32px;

            >img {
                width  : 100%;
                height : 96px;
                padding: 16px;

                @media @phone {
                    margin-top: 2rem;
                }
            }

            >.electrikFinance {
                width  : 320px;
                height : 97px;
                padding: 0px;
                margin : 16px 0px;
            }

            >.layerlab {
                width  : 256px;
                height : 197px;
                padding: 0px;
                margin : 16px 0px;
            }

            >.dncMedia {
                width  : 312px;
                height : 161px;
                padding: 0px;
                margin : 16px 0px;
            }

            >.lazygourmet {
                width  : 512px;
                height : 512px;
                padding: 0px;
                margin : 16px 0px;
            }

            >.spoon {
                width  : 322px;
                height : 172px;
                padding: 0px;
                margin : 16px 0px;
            }
        }
    }
}